<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <listeners>
        <listener class-name="listener.TestListener" />
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/APIProject/RestfulBooker">
        <classes>
            <class name="APITest.BookingAPITest.CreateBookingAPITest"/>
            <class name="APITest.BookingAPITest.GetBookingAPITest"/>

            <class name="APITest.BookingAPITest.GetBookingIdsAPITest"/>

            <class name="APITest.BookingAPITest.UpdateBookingAPITest"/>

            <class name="APITest.BookingAPITest.DeleteBookingAPITest"/>
            <class name="APITest.BookingAPITest.PartialUpdateBookingAPITest"/>
            <class name="APITest.TokenAPITest.CreateTokenAPITest"/>

            <class name="APITest.TokenAPITest.CreateTokenAPITestUsingDDT"/>


        </classes>
    </test>
</suite>